@font-face {
    font-family: 'blendingregular';
    src: url('blending-jrj67-webfont.woff2') format('woff2'),
        url('blending-jrj67-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    /* font-family: "SoDo Sans SemiBold"; */
    font-family: 'blendingregular';
    background: #FCF6F5FF;
    align-items: center;
    padding-left: 20px;
}
.container {
    display: grid;
    place-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    height: 100vh;
    scroll-behavior: smooth;
}

.game {
    scale: 1.5;
}
h1 {
    font-weight: normal;
}

img {
    width: 50px;
    transition: all 0.2s ease-in-out;
}

button {
    border: none;
    padding: 10px;
    margin: 2px;
    border-radius: 30px;
    background: rgb(255, 239, 236);
}

img:hover {
    cursor: pointer;
    scale: 0.9575;
}

.paper {
    width: 55px
}

.scissors {
    width: 49px
}

p {
    /* font-weight: 400; */
    padding-left: 2px;
}

.reset {
    font-family: 'blendingregular';
    padding: 8px 12px;
    color: #FCF6F5FF;
    cursor: pointer;
    background-color: #990011FF;
    transition: all 0.2s ease-in-out;
}

.reset:hover {
    background-color: rgb(141, 0, 16);
    scale: 0.9575;
}

/* .imbachhu {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
    font-weight: 500;
    transform: translateX(310px) translateY(320px);
    display: inline-block;
} */